#fluid{
    background: linear-gradient(
        180deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%)
}

#parent{
    
    background-image: url("../img/bgimg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:auto;
    height: 100vh;
}

.card{
    height: 45%;
    background: transparentize($color: #000000, $amount: 0.9);
    div{
        text-align: center;
        img{
            width: 150px;
            border-radius: 25px;
            border: 2px rgb(199, 117, 117) solid;
        }
        h5{
            font-size: 2em;
            margin: 0;
            
        }
        p{
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: black;
            
        }
        button{
            border-radius: 25px;
            border: none;
            background-color: rgba(226, 70, 31, 0.507);
            font-weight: 500;
        }
    }
}