<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    
<div class="colonna"></div>
<div class="colonna"></div>
<div class="colonna"></div>
<div class="colonna"></div>
<div class="colonna"></div>
<hr class="clearfix">

<!-- L'immagine è da considerarsi come una lettera che si mette a fianco di un'altra lettera  -->
<p><img class="img-left" src="https://picsum.photos/id/237/200/300" alt="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <img class="img-right" src="https://picsum.photos/id/237/200/300" alt="">
</p>
<div class="container">
    <div class="colonna no-float"></div>
    <div class="colonna no-float"></div>
    <div class="colonna no-float"></div>
    <div class="colonna no-float"></div>
    <div class="colonna no-float"></div>
</div>
<div style="text-align: center;">
<a href="" style="text-align: center";>ciao</a>
<a href="" style="text-align: center";>ciao</a>
<a href="" style="text-align: center";>ciao</a>
<a href="" style="text-align: center";>ciao</a>
</div>
<h1 style="text-align: center; ">Ciao</h1>

<div id="q7" class="colonna"></div>
<div id="q8" class="colonna">

    <ul>
        <li>item</li>
        <li>item</li>
        <li>item</li>
    </ul>
</div>
<hr>

<a href="#da-colorare">Colora l'elemento 9</a>

    <div id="griglia-esperimenti" class="container">
        <div class="colonna no-float">1</div>
        <div class="colonna no-float">2</div>
        <div class="colonna no-float">3</div>
        <div class="colonna no-float">4</div>
        <div class="colonna no-float">5</div>
        <div class="colonna no-float">6</div>
        <div class="colonna no-float">7</div>
        <div class="colonna no-float">8</div>
        <div class="colonna no-float" id="da-colorare">9</div>
    </div>
</body>
</html>