/* IMPOSTAZIONI GENERALI */

:root{
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 100%;
    background-image: url(../img/sfondo.png);
    max-width: 100%;
}

p{
    padding-top: 20px;
}

#bold{
    font-weight: 600;   
}

#rosa{
    color: palevioletred;
}

li{
    padding-top: 5px;
}

h5{
    padding-top: 20px;
    text-align: center;
    font-style: italic;
}

#light-blue{
    color: rgb(78, 161, 216);
}
/* 
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
                                                 */

header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:rgb(51, 137, 168);
}

.logo{
    width: 150px;
    text-align: center;

}

h2{
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
}

.title-bottom{
    text-align: center;
    font-weight: 600;
}

.home{
    padding-top: 20px;
    padding-bottom: 4px;
    color: white;
}

.articoli{
    padding-bottom: 4px;
    color: white;
}

.lavora{
    padding-bottom: 35px;
    color: white;
}
/* 
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
                                 */


                                 
main{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid rgb(187, 187, 187);
    padding: 0 15px;
    background-color: white;
}
h1{
    font-weight: 600;
    font-size: 180%;
}

.h1-cap{
    padding-top: 20px;
    font-size: 110%;
}

.icon-pen{
    size: 10%;
}

.lista{
    padding-left: 30px;
    padding-top: 15px;
}

iframe{
    max-width: 100%;
}
/* 
███╗   ███╗        █████╗ ██████╗ ████████╗██╗ ██████╗██╗     ███████╗
████╗ ████║       ██╔══██╗██╔══██╗╚══██╔══╝██║██╔════╝██║     ██╔════╝
██╔████╔██║█████╗ ███████║██████╔╝   ██║   ██║██║     ██║     █████╗  
██║╚██╔╝██║╚════╝ ██╔══██║██╔══██╗   ██║   ██║██║     ██║     ██╔══╝  
██║ ╚═╝ ██║       ██║  ██║██║  ██║   ██║   ██║╚██████╗███████╗███████╗
╚═╝     ╚═╝       ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝╚══════╝╚══════╝
                                                                                                                                                                                                      */

/* 
████████╗ █████╗ ██████╗ ███████╗██╗     ██╗     ███████╗
╚══██╔══╝██╔══██╗██╔══██╗██╔════╝██║     ██║     ██╔════╝
   ██║   ███████║██████╔╝█████╗  ██║     ██║     █████╗  
   ██║   ██╔══██║██╔══██╗██╔══╝  ██║     ██║     ██╔══╝  
   ██║   ██║  ██║██████╔╝███████╗███████╗███████╗███████╗
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝╚══════╝
                                                          */
caption{
    padding-top: 15px;
    font-style: italic;
    font-weight: 600;
    font-size: 95%;
}

table, th, tr, td{
    text-align: center;
}

tr, td{
    padding: 8px;
}

th{
    background-color: rgb(85, 85, 190);
    color: rgb(202, 200, 200);
    padding: 10px;
}

#tr-grey{
    background-color: rgba(243, 243, 243, 0.795);
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
}

#th1{
    border-left: 1px solid rgb(167, 167, 167);
    border-right: 1px solid rgb(167, 167, 167);
}

#th2{
    padding-top: 15px;
}

#tr-bottom{
    border-bottom: 2px solid rgb(96, 96, 187);
}
/* 
███████╗ ██████╗ ██████╗ ███╗   ███╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║
█████╗  ██║   ██║██████╔╝██╔████╔██║
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝
                                     */
h3{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 170%;
    font-weight: 600;
    color: rgb(53, 52, 52);
    text-align: center;
}

.div-novità{
    margin-top: 20px;
    background-color: rgb(221, 220, 220);
}

h4{
    font-size: 130%;
    padding: 0 20px;
    line-height: 1.4em;
    padding-bottom: 20px;
}

form{
    padding-left: 20px;
}
#email-form{
color: rgb(158, 157, 157);
border: 0px;
border-bottom: 1px dotted black;
padding-top: 4px;
padding-bottom: 4px;
}

button{
    background-color: rgb(94, 94, 253);
    color: white;
    font-weight: 600;
    border: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* 
 █████╗ ███████╗██╗██████╗ ███████╗
██╔══██╗██╔════╝██║██╔══██╗██╔════╝
███████║███████╗██║██║  ██║█████╗  
██╔══██║╚════██║██║██║  ██║██╔══╝  
██║  ██║███████║██║██████╔╝███████╗
╚═╝  ╚═╝╚══════╝╚═╝╚═════╝ ╚══════╝
                                                                                                                                               */
#h3-art{
    padding-top: 50px;
}

.div-aside{
    background-color: rgb(221, 220, 220);
}

#aside-p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h6{
    padding-left: 20px;
    font-size: 1.3em;
    padding-top: -10px;
}
/* 
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝
                                                    */
