
//nav

$bg-color: rgb(255, 174, 67);
$nav-margin: 40px;

//buttons

$button-padding: 10px 15px;
$button-radius: 25px;
$button-margin: 60px;
$button-font: 1.2em;
$button-bg: rgb(176, 255, 102);
$button-weight: bold;

// hover

$button-ht: black;
$button-size: scale(1.3);
$button-bg-h: red;