//size
$w-100: 100%;
$w-75: 75%;
$w-50: 50%;
$w-25: 25%;
$w-d: 5%;


//colors
$bg-footer: lightblue;
$bg-main: rgb(219, 219, 219);


//margin

$m-standard:25px;
$m-half: 10px;

//border

$b-standard:1px solid black;
