@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");
:root {
  font-family: "Roboto", sans-serif;
}

/*-------------------------HEADER------------------------- */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}
header img {
  margin-top: 10px;
  width: 50%;
  margin-bottom: 25px;
}
header h1 {
  font-size: 1.2em;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }
  header img {
    width: 25%;
  }
  header h1 {
    font-size: 2em;
    padding-right: 25px;
  }
  header h1:hover {
    color: red;
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1600px) {
  header h1 {
    font-size: 4em;
  }
}

/*-------------------------NAV------------------------- */
nav {
  padding: 25px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  background-color: purple;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li {
  font-weight: 700;
  padding: 10px;
  background-color: grey;
  border-radius: 25px;
}
nav ul li:hover {
  box-shadow: 2px 2px 20px black;
  transform: scale(1.1);
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: red;
}
@media screen and (min-width: 768px) {
  nav ul a {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  nav ul a {
    font-size: 2em;
  }
}

/*-------------------------MAIN------------------------- */
main {
  padding: 0 25px;
  margin-bottom: 25px;
}
main h2 {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 300;
  background: rgb(219, 219, 219);
  border: 1px solid black;
  border-radius: 25px;
  font-weight: bolder;
}
main p {
  line-height: 1.5em;
  background-color: rgb(219, 219, 219);
  padding: 0 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
}
main ul {
  display: none;
}
main ul li {
  list-style: none;
  border-bottom: 1px solid black;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main {
    font-size: 1.3em;
  }
  main ul {
    display: unset;
  }
  main #main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
  }
  main #main h2 {
    width: 80%;
    margin-bottom: 0;
  }
  main p {
    width: 92%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  main {
    font-size: 2em;
  }
  main h2, main p {
    margin: 37.5px 0;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20%;
}
form input {
  margin-bottom: 10px;
  width: 2670px;
  height: 20px;
}
form :nth-child(4) {
  height: 200px;
}
form :last-child {
  width: 100px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  form {
    margin: 125px;
  }
}
@media screen and (min-width: 1800px) {
  form {
    margin: 125px 625px;
  }
}

/*-------------------------FOOTER------------------------- */
footer {
  background-color: lightblue;
  height: 5vh;
}/*# sourceMappingURL=scss.css.map */