@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
}



/*-------------------------HEADER------------------------- */


header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $m-standard;
    border-bottom: $b-standard;
    img{
        margin-top: $m-half;
        width: $w-50;
        margin-bottom: $m-standard;
    }
    h1{
        font-size: 1.2em;
        font-weight: 600;

    }
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 0;
        img{
            width:$w-25;
        }
        h1{
            font-size: 2em;
            padding-right: $m-standard;
            &:hover{
                color: red;
                transform: scale(1.2);
            }
        }

}
    @media screen and (min-width: 1024px) {

        h1{
            font-size: 2.5em;
        }

}

    @media screen and (min-width: 1600px) {

        h1{
            font-size: 4em;
        }

    }
}


        /*-------------------------NAV------------------------- */


nav{
    padding: $m-standard 0;
    margin-bottom: $m-half;
    border-bottom: $b-standard;
    background-color: purple;

    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        
        li{
           
           font-weight: 700;
           padding: 10px;
           background-color: grey;
           border-radius: 25px;
           &:hover{
            box-shadow: 2px 2px 20px black;
            transform: scale(1.1);
           }

           
           a {
            text-decoration: none;
            color: white;
            &:hover{
                color: red;
 

            }
        }
    }
    @media screen and (min-width: 768px) {
        a{
            font-size: 1.5em;
        }
    }
    @media screen and (min-width: 1024px) {
        a{
            font-size: 2em;
        }
    }
}
}
            /*-------------------------MAIN------------------------- */

main{
    padding:0 $m-standard;
    margin-bottom: $m-standard;

    h2{
        text-align: center;
        padding: $m-standard 0;
        margin-bottom: $m-half;
        font-size: 1.5em;
        font-weight: 300;
        background:$bg-main;
        border: $b-standard;
        border-radius: 25px;
        font-weight: bolder;
    
    }


    p{
        
        line-height: 1.5em;
        background-color: $bg-main;
        padding: 0 $m-half;
        text-align: center;
        border: $b-standard;
        border-radius: 25px;
    }

    ul{
        display: none;
        li{
            list-style: none;
            border-bottom: $b-standard;
            text-align: center;
        }
    }

    @media screen and (min-width: 768px) {
        font-size: 1.3em;

        ul{
            display: unset;
            

        }

        #main{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: $m-standard;
            h2{
                width: 80%;
                margin-bottom: 0;
            }
        }
        p{
            width: 92%;
            margin: auto;
            
        }


    }
    @media screen and (min-width: 1024px) {
        font-size: 2em;
        h2,p{
            margin: $m-standard*1.5 0;
        }
    }
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
    input{
        margin-bottom: $m-half;
        width: 2670px;
        height: 20px;

    }
    :nth-child(4){
        height: 200px;
    }

    :last-child{
        width: 100px;
        height: 30px;
    }

    @media screen and (min-width: 768px) {
        margin:$m-standard*5;
    }
    @media screen and (min-width: 1800px) {
        margin:$m-standard*5 $m-standard*25;
    }
}

            /*-------------------------FOOTER------------------------- */


footer{
    background-color: $bg-footer;
    height: 5vh;
}

